[submodule "src/nerfstudio-gaussian-splatting-fork"]
	path = tools/nerfstudio-gaussian-splatting-fork
	url = https://github.com/yzslab/nerfstudio.git
	branch = gaussian_splatting
[submodule "src/gaussian-splatting"]
	path = tools/gaussian-splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting
