version: "3.8"

services:
  gaussian-splatting:
    platform: linux/amd64
    shm_size: '12gb'
    image: airstudio/neurender:latest
    build:
      context: .
      dockerfile: ./Dockerfile
    stdin_open: true
    tty: true
    environment:
      NVIDIA_DRIVER_CAPABILITIES: compute,utility,graphics
    #   DISPLAY: $DISPLAY
    ports:
      - "7007:7007"   # nerf studio viewer
      - "6009:6009"   # gaussian splatting network viewer
    # volumes:
    #   - ../:/workspace/
    #   - /tmp/.X11-unix:/tmp/.X11-unix
    # working_dir: /workspace/
    command: /bin/bash
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]